{% extends "::layout_interne.html.twig" %}
{% block body %}


    <header id="home" data-stellar-background-ratio="0.3" data-height="230" data-type="parallax" data-background="{{asset('images/inscription.jpg')}}" data-background-mobile="{{asset('images/content/guide-tour/header-mini7.jpg')}}" class="ct-mediaSection">
        <div class="ct-breadcrumbs">
            <ul class="list-inline list-unstyled text-uppercase">
                <li><a href="{{ path('accueil')}}"><i class="fa fa-home"></i></a><i class="fa fa-angle-right"></i>validation coordonnées</li>
            </ul>
        </div>
    </header>
    {% set total = 0 %}
    <section class="ct-u-paddingTop60 ct-u-paddingBottom90">
        <div class="container">
            <div class="row">

                <div class="col-md-6 text-center">
                    <div class="ct-textBox ct-u-backgroundGrey">
                        <h4 class="ct-u-colorMotive text-uppercase ct-fw-700 ct-u-marginBottom50">vos information</h4>
                        <div class="ct-textBox-inner">
                            <form action="{{path('validerCommande')}}" method="POST">
                                <div class="input-group text-left">

                                    {% if err!=0 %}
                                        <div class="alert alert-danger alert-dismissible">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            {{ form_errors(form) }}
                                        </div>
                                    {% endif %}





                                    <div class="input-item"><span class="ct-fw-600">Nom utlisateur</span>
                                        {{ form_widget(form.username, { 'attr': {'class': 'form-control input--withBorder ct-u-marginBottom10 input-focusMotive'} }) }}
                                        {#<input type="text" name="n"   class="form-control input--withBorder ct-u-marginBottom10 input-focusMotive" >#}
                                    </div>

                                    <div class="input-item"><span class="ct-fw-600">Email</span>
                                        {{ form_widget(form.email, { 'attr': {'class': 'form-control input--withBorder ct-u-marginBottom10 input-focusMotive'} }) }}
                                        {#<input type="text" name="e" class="form-control input--withBorder ct-u-marginBottom10 input-focusMotive" >#}
                                    </div>

                                    <div class="input-item"><span class="ct-fw-600">Téléphone</span>
                                        {{ form_widget(form.tel, { 'attr': {'class': 'form-control input--withBorder ct-u-marginBottom10 input-focusMotive'} }) }}
                                        {#<input type="text" name="t"  class="form-control input--withBorder ct-u-marginBottom10 input-focusMotive">#}
                                    </div>
                                    {{ form_rest(form) }}
                                    <div class="text-right">
                                        <button type="submit" class="btn btn-primary btn-lg text-uppercase ct-u-marginTop20" >valider Commande</button>



                                    </div>
                                </div>



                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-5 text-center">
                    <div class="ct-textBox ct-u-backgroundGrey">
                        <h5 class="ct-u-colorMotive text-uppercase ct-fw-700 ct-u-marginBottom30">Revendez vos places en toute sécurité</h5>
                        <ul class="list-inline list-unstyled ct-u-marginBottom40 text-left ct-list--moreSpace">
                            <li><i class="fa fa-long-arrow-right ct-u-colorMotive"></i>Un de vos clients a un empêchement ou ne souhaite plus se rendre à un évènement ? SmartTicket lui offre la possibilité de revendre un ou plusieurs billets sans risque de fraude ni même de spéculation</li>
                            <li><i class="fa fa-long-arrow-right ct-u-colorMotive"></i>SmartTicket est également la 1re billetterie en ligne sécurisée et compatible tout support : mobile, tablette et ordinateur</li>
                            <br>
                            <h6 class="ct-u-colorMotive text-uppercase ct-fw-700 ct-u-marginBottom30"></h6>
                        </ul>
                    </div>
                </div>



            </div>
        </div>
    </section>


{% endblock body %}