<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartTicket</title>
    <link href="{{ asset('tmpAdmin/assets/plugins/bootstrap/bootstrap.css') }}" rel="stylesheet" />
    <link href="{{ asset('tmpAdmin/assets/font-awesome/css/font-awesome.css') }}" rel="stylesheet" />
    <link href="{{ asset('tmpAdmin/assets/plugins/pace/pace-theme-big-counter.css') }}" rel="stylesheet" />
    <link rel="shortcut icon" href="{{asset('images/icon2.ico')}}">
    <link href="{{ asset('tmpAdmin/assets/css/style.css') }}" rel="stylesheet" />
    <link href="{{ asset('tmpAdmin/assets/css/main-style.css') }}" rel="stylesheet" />
    <!-- Page-Level CSS -->
    <link href="{{ asset('tmpAdmin/assets/plugins/morris/morris-0.4.3.min.css') }}" rel="stylesheet" />


    <!-- Page-Level CSS -->
    <link href="{{ asset('tmpAdmin/assets/plugins/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet" />


</head>
<body>
<!--  wrapper -->
<div id="wrapper">
    <!-- navbar top -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
        <!-- navbar-header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">
                <img src="" alt="" />
            </a>
        </div>
        <!-- end navbar-header -->
        <!-- navbar-top-links -->
        <ul class="nav navbar-top-links navbar-right">
            <!-- main dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="top-label label label-danger">3</span><i class="fa fa-envelope fa-3x"></i>
                </a>
                <!-- dropdown-messages -->
                <ul class="dropdown-menu dropdown-messages">
                    <li>
                        <a href="#">
                            <div>
                                <strong><span class=" label label-danger">Andrew Smith</span></strong>
                                <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong><span class=" label label-info">Jonney Depp</span></strong>
                                <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong><span class=" label label-success">Jonney Depp</span></strong>
                                <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>Read All Messages</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- end dropdown-messages -->
            </li>



            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-3x"></i>
                </a>
                <!-- dropdown user-->
                <ul class="dropdown-menu dropdown-user">


                    <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out fa-fw"></i>Déconnexion</a>
                    </li>
                </ul>
                <!-- end dropdown-user -->
            </li>
            <!-- end main dropdown -->
        </ul>
        <!-- end navbar-top-links -->

    </nav>
    <!-- end navbar top -->

    <!-- navbar side -->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <!-- sidebar-collapse -->
        <div class="sidebar-collapse">
            <!-- side-menu -->
            <ul class="nav" id="side-menu">
                <li>
                    <!-- user image section-->
                    <div class="user-section">
                        <div class="user-section-inner">
                            <img src="{{ asset('tmpAdmin/assets/img/user.jpg') }}" alt="">
                        </div>
                        <div class="user-info">
                            <div> <strong>{{app.user.username}}</strong></div>
                            <div class="user-text-online">
                                <span class="user-circle-online btn btn-success btn-circle "></span>&nbsp;Online
                            </div>
                        </div>
                    </div>
                    <!--end user image section-->
                </li>

                <li class="selected">
                    <a href="{{ path('profil')}}"><i class="fa fa-dashboard fa-fw"></i>Tableau de bord</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-users fa-fw"></i> Gestion des utlisateurs<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{{ path('consulterUsers') }}">Liste des utlisateurs</a>
                        </li>

                    </ul>
                    <!-- second-level-items -->
                </li>


                <li>
                    <a href="#"><i class="fa fa-calendar fa-fw"></i> Gestion des événements<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">

                        <li>
                            <a href="{{ path('consulterEvenement') }}">Liste des événements</a>
                        </li>





                    </ul>
                    <!-- second-level-items -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-shopping-cart fa-fw"></i> Gestion des commandes<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{{ path('consulterListeCommandes') }}">Liste des Commandes</a>
                        </li>


                    </ul>
                    <!-- second-level-items -->
                </li>


                <li>
                    <a href="#"><i class="fa fa-bullhorn fa-fw"></i> Gestion des témoignages<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{{ path('listeTemoignage')}}">Liste des témoignages</a>
                        </li>


                    </ul>
                    <!-- second-level-items -->
                </li>


                <li>
                    <a href="#"><i class="fa fa-comment fa-fw"></i> Gestion des commantaire<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{{ path('listeCommantaire')}}"> Liste des commantaires</a>
                        </li>


                    </ul>
                    <!-- second-level-items -->
                </li>
            </ul>
            <!-- end side-menu -->
        </div>
        <!-- end sidebar-collapse -->
    </nav>
    <!-- end navbar side -->
    <!--  page-wrapper -->
{% block content %}
{% endblock content %}


    <!-- end wrapper -->

    <!-- Core Scripts - Include with every page -->
    {% block script %}{% endblock %}
    <script src="{{ asset('tmpAdmin/assets/plugins/jquery-1.10.2.js')  }}"></script>
    <script src="{{ asset('tmpAdmin/assets/plugins/bootstrap/bootstrap.min.js')  }}"></script>
    <script src="{{ asset('tmpAdmin/assets/plugins/metisMenu/jquery.metisMenu.js')  }}"></script>
    <script src="{{ asset('tmpAdmin/assets/plugins/pace/pace.js')  }}"></script>
    <script src="{{ asset('tmpAdmin/assets/scripts/siminta.js')  }}"></script>
    <!-- Page-Level Plugin Scripts-->
    <script src="{{ asset('tmpAdmin/assets/plugins/morris/raphael-2.1.0.min.js')  }}"></script>
    <script src="{{ asset('tmpAdmin/assets/plugins/morris/morris.js')  }}"></script>
    <script src="{{ asset('tmpAdmin/assets/scripts/dashboard-demo.js') }}"></script>

    <script src="{{ asset('tmpAdmin/assets/plugins/dataTables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('tmpAdmin/assets/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
    <script>

        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-58127580-1', 'auto');
        ga('send', 'pageview');

    </script>



</div>


</body>


</html>
