{% extends "::layout_interne.html.twig" %}
{% block body %}
    <script src="{{asset("js/jquery.js")}}"></script>
    <script src={{ asset('tinymce/tinymce.min.js') }}></script>

    <script>

        $(document).ready(function() {

            tinymce.init({
                selector: '#adminbundle_evenement_descriptionEvenement',
                height: 200,
                theme: 'modern',
                plugins: [
                    'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                    'searchreplace wordcount visualblocks visualchars code fullscreen',
                    'insertdatetime media nonbreaking save table contextmenu directionality',
                    'emoticons template paste textcolor colorpicker textpattern imagetools'
                ],
                toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
                toolbar2: 'print preview media | forecolor backcolor emoticons',
                image_advtab: true
            });

        });

    </script>


    <header id="home" data-stellar-background-ratio="0.3" data-height="230" data-type="parallax" data-background="{{asset('images/many.jpg')}}" data-background-mobile="{{asset('images/many.jpg')}}" class="ct-mediaSection">
        <div class="ct-breadcrumbs">
            <ul class="list-inline list-unstyled">
                <li><a href="{{ path('accueil')}}"><i class="fa fa-home"></i></a></li><li><a href="{{ path('profil')}}"><i class="fa fa-angle-right"></i>Tableau De Bord</a><a href="{{ path('consulterEvenementOrg')}}"><i class="fa fa-angle-right"></i>Liste Des événements</a><i class="fa fa-angle-right"></i>Modifier Evenement</li>

            </ul>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ct-textBox--small ct-u-backgroundGrey ct-u-marginTop50 ct-u-marginBottom60 ct-u-colorBlackLight">

                    <div class="clearfix"></div>





                    <form class="ct-form" method="post" action="{{ path('sauvgardermodificationClient', {id : evenement.id}) }}">

                        <div class="row">

                            <div class="col-md-12">
                                <div><span class="ct-fw-600"><h3><i class="fa fa-star"> Nouvel événement</i></h3></span></div><br>
                                <div class="row">

                                    <div class="col-md-6">

                                        <div><span class="ct-fw-600"><h5>{{ form_label(form.titreEvenement) }}</h5></span>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-italic">
                                                    </i>
                                                </div>
                                                {{ form_widget(form.titreEvenement,  { 'attr': {'class': 'form-control input--withBorder ct-u-marginBottom10 input-focusMotive'} }) }}

                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div><span class="ct-fw-600"><h5>{{ form_label(form.categorie) }}</h5></span>

                                            {{ form_widget(form.categorie,  { 'attr': {'class': 'form-control input--withBorder ct-u-marginBottom10 input-focusMotive'} }) }}

                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12"><br>
                                <div><span class="ct-fw-600"><h3><i class="fa fa-calendar"> Quand ?</i></h3></span></div><br>
                                <div class="row">
                                    <div class="col-md-6">

                                        <div><span class="ct-fw-600"><h5>{{ form_label(form.dateDebutEvenement) }}</h5></span>
                                            <div>
                                                {{ form_widget(form.dateDebutEvenement) }}
                                                {{ form_widget(form.heureDebutEvenement) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                        <div><span class="ct-fw-600"><h5>{{ form_label(form.dateFinEvenement) }}</h5></span>
                                            <div>
                                                {{ form_widget(form.dateFinEvenement) }}
                                                {{ form_widget(form.heureFinEvenement) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12"><br>
                                <div><span class="ct-fw-600"><h3><i class="fa fa-map-marker"> Où ?</i></h3></span></div><br>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div><span class="ct-fw-600"><h5>{{ form_label(form.lieuEvenement) }}</h5></span>
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-map-marker">
                                                    </i>
                                                </div>
                                                {{ form_widget(form.lieuEvenement,  { 'attr': {'class': 'form-control input--withBorder ct-u-marginBottom10 input-focusMotive'} }) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div><span class="ct-fw-600"><h5>{{ form_label(form.ville) }}</h5></span>

                                            {{ form_widget(form.ville,  { 'attr': {'class': 'form-control input--withBorder ct-u-marginBottom10 input-focusMotive' }}) }}

                                        </div>
                                    </div>

                                   <div class="col-md-6">
                                        <div><span class="ct-fw-600" ><h5>{{ form_label(form.file) }}</h5></span>
                                            <div>
                                                {{ form_widget(form.file,  { 'attr': {'placeholder': 'image' ,'multiple': 'multiple', 'class': 'form-control input--withBorder ct-u-marginBottom10 input-focusMotive'} }) }}
                                            </div>
                                        </div> 
                                    </div>

                                </div>
                            </div>





                            <div class="col-md-12"><br>
                                <div><span class="ct-fw-600"><h5>{{ form_label(form.descriptionEvenement) }}</h5></span>
                                    <div>
                                        {{ form_widget(form.descriptionEvenement,  { 'attr': {'class': 'form-control input--withBorder ct-u-marginBottom10 input-focusMotive'} }) }}<br>
                                    </div>
                                </div>

                            </div>

                        <div class="col-md-12">
                            <div><span class="ct-fw-600"><h3><i class="fa fa-ticket">billets</i></h3></span></div><br>
                            <div class="col-md-3">

                                {{ form_widget(form) }}
                            </div></div>
                        <div class="col-md-12">
                            <div class="ct-divider--greyBig ct-u-marginBoth40"></div>


                            <div style='text-align:right'>
                                <button type="submit" class="btn btn-primary btn-lg text-uppercase ct-u-marginTop20">Modifier</button>
                              
                            </div>

                            {{ form_rest(form) }}</div></div>
                    </form>
                </div>
            </div>
        </div></div>


{% endblock body %}