{% extends "::layout_interne.html.twig" %}

{% block body %}


    <header id="home" data-stellar-background-ratio="0.3" data-height="230" data-type="parallax" data-background="{{asset('images/inscription.jpg')}}" data-background-mobile="{{asset('images/content/guide-tour/header-mini7.jpg')}}" class="ct-mediaSection">
        <div class="ct-breadcrumbs">
            <ul class="list-inline list-unstyled text-uppercase">
                <li><a href="{{ path('accueil')}}"><i class="fa fa-home"></i></a><i class="fa fa-angle-right"></i>inscription</li>
            </ul>
        </div>
    </header>
    <section class="ct-u-paddingTop60 ct-u-paddingBottom90">
        <div class="container">
            <div class="row">
                <div class="col-md-7 text-center">
                    <div class="ct-textBox ct-u-backgroundGrey">
                        <h4 class="ct-u-colorMotive text-uppercase ct-fw-700 ct-u-marginBottom50">Créer un compte</h4>
                        <div class="ct-textBox-inner">
                            <form class="ct-form" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
                                <div class="input-group text-left">
                                    {{ form_errors( form) }}






                                    <div class="input-item"><span class="ct-fw-600">Nom utlisateur</span>

                                        {{ form_widget( form.username,  { 'attr': {'placeholder': 'Nom utlisateur','class': 'form-control input--withBorder ct-u-marginBottom10 input-focusMotive' } }) }}


                                    </div>

                                    <div class="input-item"><span class="ct-fw-600">prenom </span>

                                        {{ form_widget( form.prenom,  { 'attr': {'placeholder': 'Prenom','class': 'form-control input--withBorder ct-u-marginBottom10 input-focusMotive' } }) }}



                                    </div>

                                    <div class="input-item"><span class="ct-fw-600">Adresse e-mail </span>

                                        {{ form_widget( form.email,  { 'attr': {'placeholder': 'E-mail','class': 'form-control input--withBorder ct-u-marginBottom10 input-focusMotive' } }) }}



                                    </div>




                                    <div class="input-item"><span class="ct-fw-600">Mot de passe</span>

                                        {{ form_widget(form.plainPassword.first,  { 'attr': {'placeholder': 'Mot de passe','class': 'form-control input--withBorder ct-u-marginBottom10 input-focusMotive' } }) }}

                                    </div>

                                    <div class="input-item"><span class="ct-fw-600">Confirmation mot de passe</span>
                                        {{ form_widget(form.plainPassword.second,  { 'attr': {'placeholder': 'confirmez mot de passe','class': 'form-control input--withBorder ct-u-marginBottom10 input-focusMotive' } }) }}

                                    </div>

                                    <div><div class="text-right">
                                            {{form_widget(form._token)}}
                                            {#<center><input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" /></center>#}
                                            <button type="submit" id="_submit" name="_submit" class="btn btn-primary btn-lg text-uppercase ct-u-marginTop20">{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}</button>
                                        </div>
                                    </div>

                                </div>
                            </form>







                            <div class="text-left"><a href="{{ path('fos_user_security_login') }}" class="text-capitalize ct-u-colorMotive ct-fw-700">voulez vous connecter?</a></div>




                        </div>

                    </div>
                </div>
                <div class="col-md-5 text-center">
                    <div class="ct-textBox ct-u-backgroundGrey">
                        <h6 class="ct-u-colorMotive text-uppercase ct-fw-700 ct-u-marginBottom30">POURQUOI CRÉER UN COMPTE?</h6>
                        <ul class="list-inline list-unstyled ct-u-marginBottom40 text-left ct-list--moreSpace">
                            <li><i class="fa fa-long-arrow-right ct-u-colorMotive"></i>SmartTicket est également la 1re billetterie en ligne sécurisée et compatible tout support : mobile, tablette et ordinateur</li>
                            <li><i class="fa fa-long-arrow-right ct-u-colorMotive"></i>Réservez des billetteries en ligne rapidement et facilement</li>
                            <li><i class="fa fa-long-arrow-right ct-u-colorMotive"></i>Inscrivez-vous à nos alertes personnalisées pour recevoir offres exclusives et recommandations de sorties conçues spécialement pour vous</li>
                            <li><i class="fa fa-long-arrow-right ct-u-colorMotive"></i>La solution performante pour vos billets</li>
                            <li><i class="fa fa-long-arrow-right ct-u-colorMotive"></i>Vous pouvez suivre en temps réel vos ventes sur le site et accéder à des informations statistiques. Il est également possible de recevoir par e-mail une copie des billets vendus</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <header id="home" class="ct-u-colorWhite text-left">
        <div data-adaptiveHeight="true" data-animations="true" data-autoplay="true" data-infinite="true" data-autoplaySpeed="6000" data-draggable="true" data-touchMove="false" data-arrows="true" data-items="1" class="ct-slick ct-js-slick">
            <div data-bg="{{asset('images/Colour-splash-1.jpg')}}" class="item">
                <div class="ct-slick-inner">
                    <div class="ct-slick-content">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2 col-lg-offset-0 col-lg-7 ct-u-z-index4">
                                    <h4 class="text-uppercase">newsletter subscription</h4>
                                    <div class="ct-divider--doubleBorder ct-u-marginBoth20"></div>
                                    <p class="ct-u-marginBottom20">Inscrivez-vous à notre newsletter pour recevoir directement sur votre email nos actualités</p>

                                    <form action="{{asset('form/send.php')}}" method="POST" class="validateIt ct-u-marginBottom30">
                                        <div class="input-group input--withIcon"><span class="input-icon"><i class="fa fa-envelope"></i></span>
                                            <input type="email" required="" name="field[]" class="form-control input-lg"><span class="input-group-btn">
                                                <button class="btn btn-default btn-transparent text-uppercase">Subscribe</button></span>
                                        </div>
                                    </form>

                                </div>
                            </div>
                            <br><br><br>
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="col-sm-4">
                                        <div class="ct-iconBox ct-u-marginBottom20 ct-iconBox--big"><a href="#">
                                                <div class="ct-iconBox-icon"><i class="fa fa-heart"></i>
                                                </div>
                                                <div class="ct-iconBox-description">
                                                    <h4 class="ct-iconBox ct-u-marginBottom20 ct-iconBox--big">Pratique</h4>

                                                </div></a></div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="ct-iconBox ct-u-marginBottom20 ct-iconBox--big"><a href="#">
                                                <div class="ct-iconBox-icon"><i class="fa fa-unlock-alt"></i>
                                                </div>
                                                <div class="ct-iconBox-description">
                                                    <h4 class="ct-iconBox ct-u-marginBottom20 ct-iconBox--big">Sécurité</h4>

                                                </div></a></div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="ct-iconBox ct-u-marginBottom20 ct-iconBox--big"><a href="#">
                                                <div class="ct-iconBox-icon"><i class="fa fa-clock-o"></i>
                                                </div>
                                                <div class="ct-iconBox-description">
                                                    <h4 class="ct-iconBox ct-u-marginBottom20 ct-iconBox--big">Mise en place</h4>

                                                </div></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


{% endblock body %}